<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card" style="width:50rem;height: auto;margin-left: 10rem; margin-top: 2rem;height: 30rem;">
                <div class="card-body">
                    <form style="margin-top: 20px;width: 30rem;height: auto;">
                        <h3 class="aa">Create Your own acount</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-6">

                                <input type="text" class="form-control" id="firstName" placeholder="firstName" value=""
                                    required="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="firstName" placeholder="LastName" value=""
                                    required="">
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="firstName" placeholder="Username" value=""
                                    required="">
                            </div>
                            <div class="col-md-4">

                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <input id="password2" type=password placeholder="password" name=up2>
                            </div>

                            <div class="col-md-6">
                                <input id="password2" type=password placeholder="confirm" name=up2>
                            </div>
                           
                        </div>
                        <br>
                        <div class="row">
                            <h8>Use 8 or more characters with a mix of letters, numbers & symbols</h8>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" style="margin-left: 25rem;">Nest</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>