{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coading Thunder</h1>
            <span class="subheading">A Blog like by programer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up 
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019 </p>
        </div>
        <hr> -->
        {% for r in record %}
          {% if r.sno < 3 %}
          <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
            {{loop.index}}. {{r.tittle}}
            </h2>
            <h3 class="post-subtitle">
              {{r.Description}}
            </h3>
          </a>
        
        </div>
        <hr> 
        {% else %}
        <div class="post-preview abc">
          <a href="post.html">
            <h2 class="post-title">
            {{loop.index}}. {{r.tittle}}
            </h2>
            <h3 class="post-subtitle">
              {{r.Description}}
            </h3>
          </a>
        <hr>
        </div>
        
        {% endif %}
        {%endfor%}
       



        <!-- Pager -->
       
        <div class="clearfix">
         
          <a class="btn btn-primary float-right" onclick="myFunction()">Older Posts &rarr;</a>
          <script>

          
            function myFunction() {
              $(".abc").show();
                
                 }
            </script>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
