<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>rest Password</h2>
    <div class="container-flude">
        <div class="row">
            <div class="card" style="background-color: rgb(13, 159, 226);width: 100%">
                <h1 class="text-center" style="color:white; padding-top:7rem;
           width: 86rem;
    height: 250px;">Reset password Here{{Error|safe}}</h1>
                <div class="card-body"
                    style="background-color: rgb(223, 232, 236); margin-left: 28rem; margin-right:28rem; margin-bottom:6rem;">
                    <form style="width:20rem; margin-left: 4rem; margin-right: 4rem;"  action="/ResetPassword" method="POST" >
                        
                        
                        <div class="form-group">
                          <p>{{form.password.label}}</p>
                           <p>{{form.password(class='form-control', placeholder='old password',id='oldpassword')}}</p>
                           <p>{{form.newpassword.label}}</p>
                           <p>{{form.newpassword(class='form-control', placeholder='new password',id='newpassword')}}</p>
                           <p>{{form.newpassword1.label}}</p>
                           <p>{{form.newpassword1(class='form-control', placeholder='new password',id='newpassword1')}}</p>
                           <p>{{form.submit}}</p>
                        </div>

                       
                    </form>
                
                   
                </div>



            </div>

        </div>
    </div>
</body>
</html>