<!-- Main Content -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registation</title>
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="{{url_for('static',filename='js/sript1.js')}} " type="text/javascript"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="card" style="width:50rem;height: auto;margin-left: 10rem; margin-top: 2rem;height: 30rem;">
        <div class="card-body">
          {{Error|safe}}
          <form name="form1" style="margin-top: 20px;width: 30rem;height: auto;" action="/Register" method="POST">
            <h3 class="aa">Create Your own acount</h3>
            <br>
            <div class="row">
              <div class="col-md-6">

                <input type="text" class="form-control" id="firstName" name="fname" placeholder="firstName" value=""
                  required="">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="lastname" name="lname" placeholder="LastName" value=""
                  required="">
              </div>
            </div>
            </br>
            <div class="row">
              <div class="col-md-6">
                <input type="Date" class="form-control" id="dateofbirth" name="dob" placeholder="Date Of Birth" value=""
                  required="">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" id="gmail" name="email" placeholder="Email" value=""
                  required="">
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" id="password1" style="width: 14rem;" name="fp" placeholder="password"
                  type=password required name=up>
              </div>

              <div class="col-md-6">
                <input class="form-control" id="password2" style="width: 14rem;" name="sp"
                  placeholder="Confarm password" type=password name=up2>
              </div>

            </div>
            <br>
            <div class="row">
             
                <h8>Use 8 or more characters with a mix of letters, numbers & symbols</h8>
                
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Sign up</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</body>


</html>

<!-- 1. Python flask  all static files like JS,CSS,Image will be insde  static folder.
2. JS file  is link in head then use window.onload ...... so that Js will execute after window html completly loaded.
3. Never write JS in Jinja always seprate filename
4. Submitbutton click  listener  will have all validations
5. if error alert showed set varible to stop future js execution
6. never compare string with numerical value
7. all input of form is string... it will always be string  likr "123", "abc"
8. store password encrypter in database -->