<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Clean Blog - Start Bootstrap Theme</title>
  
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  
    <!-- Custom fonts for this template -->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">
    
  
  
</head>
<body>
    <div class="container-flude">
        <div class="row">
            <div class="card" style="background-color: rgb(13, 159, 226);width: 100%">
                <h1 class="text-center" style="color:white; padding-top:7rem;
           width: 86rem;
    height: 250px;">Reset password Here{{Error|safe}}</h1>
                <div class="card-body"
                    style="background-color: rgb(223, 232, 236); margin-left: 28rem; margin-right:28rem; margin-bottom:6rem;">
                    <form style="width:20rem; margin-left: 4rem; margin-right: 4rem;"  action="/ResetPassword" method="POST" >
                        
                        
                        <div class="form-group">
                          <p>{{form.password.label}}</p>
                           <p>{{form.password(class='form-control', placeholder='old password',id='oldpassword')}}</p>
                           <p>{{form.newpassword.label}}</p>
                           <p>{{form.newpassword(class='form-control', placeholder='new password',id='newpassword')}}</p>
                           <p>{{form.newpassword1.label}}</p>
                           <p>{{form.newpassword1(class='form-control', placeholder='new password',id='newpassword1')}}</p>
                           <p>{{form.submit}}</p>
                        </div>

                       
                    </form>
                
                   
                </div>



            </div>

        </div>
    </div>

<script>
    // body ke ander hota hai javascript ;
    // javascript mai tum listener bhi laga sakte like below
    // yaha tum  bata rahe ki submit button pe click ko listen karega aur jaishe hi clcik hoga function call ho jaiga
    // who told you to use return? return ki tab jaroort hoti jab return vale assign karni ho 
    // baar baar bol raha hu ki ifincorrect preventdefault use karo aage nhi jaiga
    document.getElementById("submit").addEventListener("click", function(event){
        var firstpassword = document.getElementById("newpassword").value;
        var seconpassword = document.getElementById("newpassword1").value;
        if(firstpassword!=seconpassword)
        {
            alert('password not match'); // bootstrap modal, jquery dailog
            event.preventDefault();  // aage nhi jaane deta ishko use karne ke jagah return use kar rahe return ka concept hi sahi nhi tumhara
        }
           
  
});
</script>

</body>

</html>